/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

  html {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: 'Poppins', sans-serif;
    background-color: #DBE2EF;
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }
  nav {
    white-space: nowrap;
    padding:3.5rem;
    background: #4073AF;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0px;
      
      
    }
  }
  nav ul li a {
    margin-top: 2rem;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  nav ul li a.current {
    background: black;
  }
  main {
    padding-bottom: 40rem;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }

  .box {
    background-color: var(--secondary-background-color);
    margin-top: 100px !important;
    width:70%;
    height: auto;

    border-radius: 15px;
    box-shadow: 2px 5px;
    text-align: center;
    overflow-y:visible;
    
    margin-top: 15rem;
    margin-left: 4rem;
}

/* .patientlists{
    overflow:hidden; overflow-y:scroll;
} */
.patientlists .patientnames{
    color:white;
    display: inline-block;
    font-size:14px;
    padding:0;
    margin:0;
    line-height: 14px;
    padding: 20px 106px;
    overflow-y:visible;
}

.patientlists .personview{
    background-color: #F08A5E;
    color:white;
    padding:6px;
    border-radius: 12px;
    overflow-y:visible;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: separate;
  border-spacing:0 20px 0 20px;
}

table > th {
  width: auto !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  margin-left:6rem;
  background-color: #F08A5E !important;
  color:white !important;
  border-color:white !important;
  box-shadow: 4px 4px black;
  padding:6px;
  border-radius: 6px;
}

.announcements{
  height:100%;
}


